.Tilt{
	  background-image: linear-gradient(to right, #d16ba5, #c76cb5, #b86fc4, #a374d3, #867ae0, #6c89ee, #4b98f8, #00a5ff, #00bcff, #00d1ff, #00e3f5, #5cf4ea);

}

img{
	margin-top: 8px;
}

.logo{
	margin-left: 60px;
}